<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add new Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <!-- For DataTables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
</head>
<body>
<h1>Please enter the details to submit the movie list</h1>
<br>
<form action="/submittedmovieslist" method="POST">
    <label>
        Movie name:
    </label>
    <input type="text" name="movie"/>
    <label>
        Genre:
    </label>
    <input type="text" name="Genre"/>
    <label>
        Rating:
    </label>
    <input type="number" name="Rating"/>
    <label>
        Language:
    </label>
    <input type="text" name="Language"/>
    <button>Save details</button>
    
</form>
</body>

</html>